{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="wrapper">
	<div class="title">
		Add Resources
	</div>
	<form  method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label>Resource Name</label>
		<input type="text"  name="rname" /><br>
		<label>Availibility</label>
		<input type="number"  name="avail" /><br>
		<label>Category</label>
		<select name="category" class="form-select" >
			{% for i in Category %}
			<option value="{{i.name}}">{{i.name}}</option>
			{% endfor %}
		</select>
		<br><a href="/addcategory/">Add Category</a><br>
		<div class="field">
			<input type="submit" value="Add">
		</div>

	</form>
</div>


{% endblock %}