{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="mt-5 bg-light container">
    <table class=" table table-hover table-striped table-bordered">
        <thead>
        <tr class="row justify-content-center">
            <th class="col-4">State Fund's Names</th>
            <th class="col-3">State Fund's UPI ID</th>
<!--            <th class="col-3">QR Code Link for scanning and Donating</th>-->
        </tr>
        </thead>
        <tbody>
<!--        <tr class="row">-->
<!--            <td class="col-4">PM CARES FUND</td>-->
<!--            <td class="col-3">pmcares@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/PM-Cares-qr.png">Click here to donate</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Prime Minister National Relief Fund</td>-->
<!--            <td class="col-3">pmnrf@centralbank</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Prime%20Ministers%20National%20Relief%20Fund_0.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
        <tr class="row justify-content-center">
            <td class="col-4">Chief Minister Relief Fund COVID -19, Maharashtra</td>
            <td class="col-3">cmrfmahacovid19@sbi</td>
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_0.png">Click here to donate</a></td>-->
<!--        -->
        </tr>
        <tr class="row justify-content-center">
            <td class="col-4">Andhra Pradesh Chief Minister Relief Fund</td>
            <td class="col-3">apcmrelief@andb</td>
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/APCMRelief_qr.jpg">Click here to donate</a></td>-->
<!--        -->
        </tr>
        <tr class="row justify-content-center">
            <td class="col-4">Rajasthan Chief Minister Relief fund</td>
            <td class="col-3">rajcmrfcovid19@sbi</td>
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/rajcmrf.png">Click here to donate</a>  </td>-->
<!--        -->
        </tr>
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Relief Fund, Mizoram</td>-->
<!--            <td class="col-3">cmrfmizoram@hdfcbank</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_1.png">Click here to donate</a>  </td>-->
<!--        </tr>-->
        <tr class="row justify-content-center">
            <td class="col-4">LG/CM Relief Fund, Delhi</td>
            <td class="col-3">lgcmdelhifund@cnrb</td>
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/delhi_QR.png">Click here to donate</a>  </td>-->
<!--        -->
        </tr>
        <tr class="row justify-content-center">
            <td class="col-4">Uttar Pradesh Covid Care Fund</td>
            <td class="col-3">upcovidcarefund@sbi</td>
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/UP_QR.png">Click here to donate</a>  </td>-->
<!--        -->
        </tr>
<!--        <tr class="row">-->
<!--            <td class="col-4">Mukhya Mantri Rahat Kosh, Uttarakhand</td>-->
<!--            <td class="col-3">cmukrf@sbi</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/uttrakhand_QR.png">Click here to donate</a>-->
<!--        </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Relief Fund, State Of Telangana</td>-->
<!--            <td class="col-3">tscmrf@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_telangana.png">Click here to donate</a></td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Ministers Relief Fund, Tripura</td>-->
<!--            <td class="col-3">cmrelieftr@sbi</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Tripura_QR.png">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Tamil Nadu Chief Minister Public Relief Fund</td>-->
<!--            <td class="col-3">tncmprf@iob</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/gov_of_tn.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Haryana Corona Relief Fund</td>-->
<!--            <td class="col-3">hrycoronarelieffund@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_Haryana.png">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">West Bengal State Emergency Relief Fund</td>-->
<!--            <td class="col-3">wbs.erf@icici</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/WB_QR_new.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Punjab Chief Minister Relief Fund</td>-->
<!--            <td class="col-3">pbcmrf@hdfcbank</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QRpunjab.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Relief Fund, Karnataka</td>-->
<!--            <td class="col-3">cmrfkarnataka@sbi</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Karnatka-02.jpg">Click here to donate</a>-->
<!--        </td>-->
<!--        </tr>-->
<!--        <tr class="row"><td class="col-4">Chief Minister Relief Fund, Bihar</td>-->
<!--            <td class="col-3">cmrfbihar@idbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Bihar-02.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Relief Fund, Assam</td>-->
<!--            <td class="col-3">cmrfassam@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Assam-02.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Madhya Pradesh Chief Minister Relief Fund</td>-->
<!--            <td class="col-3">chiefministerrelieffund@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_MP.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Distress Relief Fund, Kerala</td>-->
<!--            <td class="col-3">keralacmdrf@sbi</td>-->
<!--            <td class="col-3">-->
<!--            <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Kerala-02.jpg">Click here to donate</a>-->
<!--        </td>-->
<!--        </tr>-->
<!--        <tr class="row">-->
<!--            <td class="col-4">Chief Minister Relief Fund, Meghalaya</td>-->
<!--            <td class="col-3">cmrfmeghalaya@sbi</td>-->
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/Meghalaya&#45;&#45;02.jpg">Click here to donate</a>  </td>-->
<!--        </tr>-->
        <tr class="row justify-content-center">
            <td class="col-4">Gujarat Chief Minister Relief Fund</td>
            <td class="col-3">gujaratcmrelieffund@sbi</td>
<!--            <td class="col-3">-->
<!--                <a rel="noreferrer" target="_blank" href="https://www.bhimupi.org.in/sites/default/files/QR_GJ.jpg">Click here to donate</a>  </td>-->
<!--        -->
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
