{% extends 'index.html' %}
{% load static %}
{% block body %}
<br>

<div class="row justify-content-center">

    <div class="col-12 col-md-3 my-2 ">
<!--        <a href="https://www.pmcares.gov.in/en/web/contribution/donate_india" rel="noreferrer" target="_blank">-->
                 <img height="300px" width="800px" src="{% static 'images/poster1.jpg' %}" alt="Card image cap" class="card-img-top">

        <!--
 </a>-->
    </div>
    <div class="col-12 col-md-3 my-2 ">
<!--        <a href="/cmfund/" rel="noreferrer" target="_blank">-->
        <img height="300px" width="800px" src="{% static 'images/EUDle9AXYAQHxfN.jpg' %}" alt="Card image cap" class="card-img-top">

<!--        </a>-->
    </div>
    <div class="col-12 col-md-3 my-2 ">
        <img height="300px" width="800px" src="{% static 'images/infographic-covid-19-transmission-and-protections-final2.jpg' %}" alt="Card image cap" class="card-img-top">

    </div>
    <div class="col-12 col-md-3 my-2 ">
        <img height="300px" width="800px" src="{% static 'images/images.png' %}" alt="Card image cap" class="card-img-top">

    </div>
    <div class="col-12 col-md-3 my-2 ">
        <img height="300px" width="800px" src="{% static 'images/Corona-Virus-Precautions-Hindi-1024x724.jpg' %}" alt="Card image cap" class="card-img-top">

    </div>
    <div class="col-12 col-md-3 my-2 ">
        <img height="300px" width="800px" src="{% static 'images/valmet-covid-info-page-image-en.png' %}" alt="Card image cap" class="card-img-top">

    </div>
</div>
{% endblock %}



