{% extends 'index.html' %}
{% load static %}
{% block body %}
		<div class="wrapper">
						<form  method="post" enctype="multipart/form-data">
						    {% csrf_token %}
							<div class="field">
							<input type="text"  name="rname" value="{{Resource.rname}}"/>
							<label>Resource Name</label>
							</div>
							<div class="field">
							<input type="number"  min="0" name="avail" value="{{Resource.avail}}"/>
                            <label>Availibility</label>
							</div><br>
                            <div>
								<label>Category</label>
								<select name="category">
									<option selected name="{{Resource.category.name}}">{{Resource.category.name}}</option>
                               {% for i in Category %}
                               <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
								</select><br><br>
							</div>
							<div class="field">
							<input type="text"  name="blood" value="{{Resource.blood_group}}"/>
							<label>Blood Group</label>
							</div>
							<div class="field">
<!--								<button type="submit" >Edit Resource</button>-->
								<input type="submit" value="Edit">
							</div>
						</form>
		</div>

{% endblock %}