{% extends 'index.html' %}
{% load static %}
{% block body %}
		<div class="wrapper">
					<div class="title"><!--sign up form-->
						<h2>Edit Resources</h2>
					</div>
						<form  method="post" enctype="multipart/form-data">
						    {% csrf_token %}
							<div class="field">
							<input type="text"  name="rname" value="{{Resource.rname}}"/>
							<label>Resource Name</label>
							</div>
							<div class="field">
							<input type="number"  min="0" name="avail" value="{{Resource.avail}}"/>
                            <label>Availibility</label>
							</div>
                            <div class="field">
								<label>Category</label>
								<select name="category" class="form-select" >
                               {% for i in Category %}
                               <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
								</select>
							</div>
							<div class="field">
							<input type="text"  name="blood" value="{{Resource.blood_group}}"/>
							<label>Blood Group</label>
							</div>
							<div class="field">
<!--								<button type="submit" >Edit Resource</button>-->
								<input type="submit" value="Edit">
							</div>
						</form>
		</div>

{% endblock %}