{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="wrapper">
    <div class="title">{{Provider.name}}
    </div>
    <form method="post">
        {% csrf_token %}
        <label class="alignment">Name</label>
        <input type="text" value="{{Provider.name}}" name="name"><br>
        <label class="alignment">Username</label>
        <input type="text" value="{{Provider.uname}}" name="uname"><br>
        <label class="alignment">Email Address</label>
        <input type="email" value="{{Provider.email}}" name="email"><br>
        <label class="alignment">Contact No.</label>
        <input type="text" value="{{Provider.phone}}" name="phone"><br>
        <label class="alignment">Area</label>
        <input type="text" value="{{Provider.area}}" name="area"><br>
        <label class="alignment">Pincode</label>
        <input type="number" value="{{Provider.pin}}" name="pin"><br>
        <label class="alignment">City</label>
        <input type="text" value="{{Provider.city}}" name="city"><br>
        <label class="alignment">State</label>
<!--        <input type="text" value="{{Provider.state.state}}" name="state"><br>-->
        <select name="state" >
            <option selected name="{{Provider.state.state}}">{{Provider.state.state}}</option>
			{% for i in Locations %}
			<option value="{{i.state}}">{{i.state}}</option>
			{% endfor %}
		</select>
        <div class="field">
            <input type="submit" value="Update">
        </div>




        <div class="signup-link">
            <a href="/addresource/"> Add Resource</a><br>
<!--            <a href="/editresource/{{Provider.id}}"> Edit Resource</a>-->
            <a href="/resources/">View Resources</a>
        </div>
    </form>
</div>



{% endblock %}