{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="wrapper">
    <div class="title">{{Provider.name}}
    </div>
    <form method="post">
        {% csrf_token %}
        <label>Name</label>
        <input type="text" value="{{Provider.name}}" name="name"><br>
        <label>Username</label>
        <input type="text" value="{{Provider.uname}}" name="uname"><br>
        <label>Email Address</label>
        <input type="email" value="{{Provider.email}}" name="email"><br>
        <label>Contact No.</label>
        <input type="text" value="{{Provider.phone}}" name="phone"><br>
        <label>Area</label>
        <input type="text" value="{{Provider.area}}" name="area"><br>
        <label>Pincode</label>
        <input type="number" value="{{Provider.pin}}" name="pin"><br>
        <label>City</label>
        <input type="text" value="{{Provider.city}}" name="city"><br>
        <label>State</label>
        <input type="text" value="{{Provider.state}}" name="state"><br>
        <div class="field">
            <input type="submit" value="Update">
        </div>
        <div class="signup-link">
            <a href="/addresource/"> Add Resource</a><br>
<!--            <a href="/editresource/{{Provider.id}}"> Edit Resource</a>-->
            <a href="/resources/">View Resources</a>
        </div>
    </form>
</div>



{% endblock %}