{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="myDiv">
<h4>VERIFIED AT 05/11/2021</h4>
<h6>DELHI NCR</h6>
<h6> Gurgaon</h6>
<h6> Available</h6>
</div>
<div class="myDiv1">
<h4>VERIFIED AT 05/11/2021</h4>
<h6>DELHI NCR</h6>
<h6> Gurgaon</h6>
<h6> Available</h6>
</div>
<div class="myDiv2">
<h4>VERIFIED AT 05/11/2021</h4>
<h6>DELHI NCR</h6>
<h6> Gurgaon</h6>
<h6> Available</h6>
</div>
<div class="myDiv3">
<h4>VERIFIED AT 05/11/2021</h4>
<h6>DELHI NCR</h6>
<h6> Gurgaon</h6>
<h6> Available</h6>
</div>

{% endblock %}


















