{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="wrapper">
    {% for i in messages %}
    {{i}}
    {% endfor %}
         <form action="/signup/" method="post">
             {% csrf_token %}
              <div class="field">
               <input type="text" required name="name">
               <label>Name</label>
            </div>
              <div class="field">
               <input type="text" required name="uname">
               <label>Username</label>
            </div>
             <div class="field">
               <input type="text" required name="phone">
               <label>Contact No.</label>
            </div>
            <div class="field">
               <input type="email" required name="email">
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="field">
               <input type="submit" value="Sign Up">
            </div>

         </form>
      </div>

{% endblock %}